{% extends "../layout.html" %}

{% block body %}





<p class="not-yet endText"></p>
	<div class="one now">
		<div class="letter now">
			<div class="envelope" onclick="envelopeOpen();">
				<div class="envelope-flap"></div>
				<div class="envelope-paper"></div>
				<div class="envelope-detail"></div>
			</div>
			<div class="paper">
				<div class="paper-close king" onclick="paperClose();">X</div>
				<p class="king txt"><br>No truth can cure the sorrow we feel from losing a loved one. No truth, no sincerity, no strength, no kindness can cure that sorrow. All we can do is see it through to the end and learn something from it, but what we learn will be no help in facing the next sorrow that comes to us without warning. <br><br> &#10; Gửi tới em yêu<br><br>-Anh yêu của em</p>
			</div>
		</div>
	</div>



{% endblock %}
