

body {
    font-family: 'Romantic', sans-serif;
    background-color: #212121;  
    color: black;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
    overflow:hidden;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;          /* Firefox */
    image-rendering: -o-crisp-edges;            /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
}

#pdna {
    margin-top: 70%;
}

   /* flipbook */

/* Button */
.btn {
    position: relative;
    border: none;
    background-color: transparent;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.5s;
    z-index: 2;
}

.btn:focus {
    outline: none;
}

.btn:hover i {
    color: rgb(102, 102, 102);
}

i {
    font-size: 3em;
    color: gray;
}

/* Book */


    /* may tinh */
@media only screen and (min-width: 642px) {
    body {
        background-image: url("/static/assets/web-pc.png");
    }
    .book {
        width: 450px;
        height: 600px;
        position: relative;
        margin-top: 2.5%;
        transition: transform 0.5s;
    }
    img {
        width: 410px;
        height: 550px;
        margin-top:4%;
    }
    #f2 {
        margin-top:10%;
        justify-content: top;
        margin-left: 5%;
    }

    .button{
        color: black;
        position : relative ;
        display : flex ;
        justify-content : center ;
        align-items : center ;
        width : 280px ;
        height : 80px ;
        margin-left: 18%;
        box-sizing : border-box ;
        text-decoration : none ;
        border : solid 3px #000 ;
        border-radius : 40px ;
        background : var(--main_color) ;
        font-family: Georgia, serif, cursive;
    }

}

        /* dien thoai */
@media only screen and (max-width: 641px) {
    body {
        background-image: url("/static/assets/web-dt.png");
    }

    .book {
        width: 200px;
        height: 250px;
        position: relative;
        margin-top: 5rem;
        transition: transform 0.5s;
        margin-left: 14%;
    }
    img {
        width: 160px;
        height: 215px;
        margin-top:4%;
    }

    #f2 {
        font-size:0.58em;
        margin-top:10%;
        justify-content: top;
        margin-left: 3.5%;
    }

    .button{
        color: black;
        position : relative ;
        display : flex ;
        justify-content : center ;
        align-items : center ;
        width : 280px ;
        height : 80px ;
        /* margin-left: 10%; */
        box-sizing : border-box ;
        text-decoration : none ;
        border : solid 3px #000 ;
        border-radius : 40px ;
        background : var(--main_color) ;
        font-family: Georgia, serif, cursive;
    }


}

.paper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front {
    backface-visibility: hidden;
    border-left: 3px solid #dac400;
}

.front,
.back {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.back-content {
    transform: rotateY(180deg)
}

/* Paper Flipped */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg)
}

/* Paper Z-index */
#p1 {
    z-index: 5;
}

#p2 {
    z-index: 4;
}

#p3 {
    z-index: 3;
}

#p4 {
    z-index: 2;
}
#p5 {
    z-index: 1;
}

/* Customization */

.book-title {
    font-size: 3em;
    margin-bottom: 40px;
}

.cover-img {
    width: 200px;
    height: 270px;
    object-fit: cover;
    border-radius: 30px;
}



#b1 {
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    justify-content: space-around;
}

#b1 h1 {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

#b1 p {
    margin-bottom: 20px;
}

#bin {
    visibility: hidden;
    margin-top: 10%;
}

/* buttons code */



.button--piyo{
    --main_color : #FFD1D1;
    --border_radius1 : 60px 60px 40px 40px / 48px 48px 30px 30px ;
    --border_radius2 : 70px 70px 40px 40px / 48px 48px 30px 30px ;
    --border_radius3 : 40px 40px 40px 40px / 48px 48px 30px 30px ;
}


.button__wrapper{
    display : flex ;
    justify-content : center ;
    align-items : center ;
    position : relative ;
    z-index : 1 ;
    width : 100% ;
    height : 100% ;
    border-radius : 40px ;
    overflow : hidden ;
}

.button__text{
    color: black;
    position : relative ;
    z-index : 3 ;
    font-size : 32px ;
    letter-spacing : 4px ;
    color : var(--base_color) ;
    transition : all .3s ease ;
}

.container{
    width : 100% ;
    height : 600px ;
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
    background : #FFF ;
}


.btn-1 {
    background: #d7e593;
    color: #246b56;
    border-radius: 7%;
    box-shadow: 0 0.7vh 0rem #a6b072;
    display: inline-block;
    transition: all .2s;
    position: relative;
    padding: 3% 5%;
    top: 0;
    cursor: pointer;
    margin:1rem 1rem;
    border: none;
}


.btn-1:active {
    top: 6%;
    box-shadow: 0 0.1vh 0rem #a6b072;
    transition: all .2s;
}
.rotate{
animation: rotating 3s linear infinite;
}



#anh1 {
  position:fixed;
  border:0px;
  margin-top:15%;
  margin-left:-34%;
}
#anh2 {
  position:fixed;
  border:0px;
  margin-top:15%;
  margin-left:-85%;
}

