
body {
  /* Common background properties */
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  background-size: 100% 100%;
  min-height: 100%;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: -o-crisp-edges;            /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
}

/* desktop */
@media only screen and (min-width: 641px) {
  body {
      background-image: url("/static/assests/web-pc.png");
  }
  .container {
    position: relative;
    margin-left: 50rem;
  }

  .letter {
    margin: auto;
    max-width: 800px;
    min-height: 375px;
    position: relative;
    overflow: hidden;
    display: block;
 }
 .king {
  color: #380501;
  font-size: 2em;
  font-family: 'Gochi Hand', cursive;
}
.tap {
  color: #380501;
  font-size: 2em;
  font-family: 'Gochi Hand', cursive;
}

}

/* mobile */
@media only screen and (max-width: 640px) {
  body {
      background-image: url("/static/assests/web-dt.png");
  }
  .container {
    position: relative;

  }

  .letter {
    margin: auto;
    max-width: 800px;
    min-height: 375px;
    position: relative;
    overflow: hidden;
    display: block;
 }
 .king {
  color: #380501;
  font-size: 1.6em;
  font-family: 'Gochi Hand', cursive;
}
.tap {
  color: #380501;
  font-size: 0.85em;
  font-family: 'Gochi Hand', cursive;
}
}


  @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
  
  

    @keyframes delivery {
      0% {
        transform: translateX(0);
     }
      100% {
        transform: translateX(1500px);
     }
   }
    @keyframes upthenscale {
      0% {
        transform: translateY(250px);
     }
      50% {
        transform: translateY(0);
     }
      60% {
        height: 100px;
        width: 90px;
        transform: translateY(0);
     }
      100% {
        height: auto;
        width: 100%;
        transform: translateY(0);
     }
   }
    @keyframes scalethendown {
      0% {
        height: auto;
        width: 100%;
        transform: translateY(0);
     }
      50% {
        height: 30px;
        width: 90px;
        transform: translateY(0);
     }
      60% {
        transform: translateY(0);
     }
      100% {
        transform: translateY(250px);
     }
   }
    @keyframes waitfade {
      0%, 50% {
        opacity: 0;
     }
      100% {
        opacity: 1;
     }
   }
    @keyframes redfade {
      0%, 50% {
        background-color: black;
     }
      100% {
        background-color: #991e1e;
     }
   }
    @keyframes wiggle {
      0% {
        transform: translateY(310px) rotate(0);
     }
      25% {
        transform: translateY(310px) rotate(2deg);
     }
      50% {
        transform: translateY(310px) rotate(0deg);
     }
      75% {
        transform: translateY(310px) rotate(-2deg);
     }
      100% {
        transform: translateY(310px) rotate(0);
     }
   }
    @keyframes wiggle2 {
      0% {
        transform: scale(1);
     }
      100% {
        transform: scale(1.1);
     }
   }
    body {
      background-color: #000;
   }
    .sarah {
      color: #080138;
      font-size: 2em;
      font-family: 'Charm', cursive;
   }
    
    #first {
      max-width: 800px;
      margin: auto;
   }
    .txt {
      padding: 25px;
   }
    .deliver {
      color: #7a6400;
      background-color: #b39200;
      width: 82px;
      margin: 30px auto;
      text-align: center;
      font-size: 1.5em;
      border: solid 2px;
      border-radius: 5px;
      cursor: pointer;
      animation: wiggle2 1s alternate infinite;
   }
    .now {
      display: block;
   }
    .not-yet {
      display: none;
   }
   /* TRYING LETTER */
    
    .letter--open .paper {
      animation-name: upthenscale;
      animation-duration: 0.8s;
      animation-fill-mode: forwards;
   }
    .letter--close .paper {
      animation-name: scalethendown;
      animation-duration: 0.6s;
      animation-fill-mode: forwards;
   }
    .letter--open .txt {
      animation-name: waitfade;
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
   }
    .letter--open .paper-close {
      visibility: visible;
      animation-name: waitfade;
      animation-duration: 1s;
      animation-fill-mode: forwards;
   }
    .letter--close .txt {
      visibility: hidden;
   }
    .letter--open .envelope {
      animation: pause;
   }
    .letter--open {
      height: auto;
   }
    .letter--close .envelope-flap {
      transform: translateY(-45px);
   }
    .paper--top {
      z-index: 3;
   }
    .paper {
      height: 30px;
      width: 0px;
      background: #f1f0c3;
      transform: translateY(250px);
      margin-left: auto;
      margin-right: auto;
      transition: transform 0.3s 0.1s ease;
      border-radius: 2px;
      position: relative;
   }
    .envelope {
      width: 100px;
      height: 66px;
      background: #f36363;
      position: relative;
      margin-left:40%;
      z-index: 1;
      cursor: pointer;
      border-radius: 3px;
      transition: box-shadow 0.3s ease;
      transform: translateY(310px);
      animation: wiggle 0.3s 0.2s infinite;
   }
    .envelope:hover {
      animation: pause;
   }
    .envelope:hover .envelope-paper {
      transition: transform 0.3s 0.1s ease;
      transform: translateY(-25px);
   }
    .envelope:hover .envelope-flap {
      transform: translateY(-45px);
   }
    .envelope:hover .envelope-detail::after {
      visibility: hidden;
   }
    .envelope-paper {
      height: 50px;
      width: 89px;
      background: #f1f0c3;
      transform: translateY(0);
      margin: 0 auto;
      border-radius: 2px;
      position: absolute;
      border: 2px solid transparent;
   }
    .letter--open .envelope-paper {
      visibility: hidden;
   }
    .letter--open .envelope-detail::after {
      visibility: hidden;
   }
    .letter--close .envelope-paper {
      visibility: hidden;
   }
    .letter--close .envelope-detail::after {
      visibility: hidden;
   }
    .envelope-flap {
      content: '';
      width: 0;
      height: 0;
      border-left: 45px solid transparent;
      border-right: 45px solid transparent;
      border-bottom: 45px solid #7a6400;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
      transform: translateY(0);
   }
    .letter-close .paper {
      height: 60;
   }
    .letter--open .envelope-flap {
      transform: translateY(-45px);
   }
    .letter--open .envelope-detail {
      border-top: 2px solid #7a6400;
   }
    .envelope-detail {
      overflow: hidden;
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      background: #b39200;
      border-top: 2px solid transparent;
   }
    .envelope-detail:before {
      content: '';
      width: 70px;
      height: 70px;
      background: #b39200;
      display: inline-block;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 30px;
      margin: auto;
      transform: rotate(45deg);
      border: 4px solid #7a6400;
   }
    .envelope-detail:after {
      content: '';
      width: 70px;
      height: 70px;
      background: #b39200;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: -45px;
      margin: auto;
      transform: rotate(45deg);
      border: 4px solid #7a6400;
   }
    .envelope__fold {
      height: 25px;
      width: 86px;
      background: #f36363;
      border: 4px solid #7a6400;
      display: block;
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      margin: auto;
      transition: all 0.3s ease;
      border-radius: 3px;
   }
    .paper-close {
      position: absolute;
      right: 10px;
      top: 5px;
      display: inline-block;
      cursor: pointer;
      z-index: 4;
      visibility: hidden;
   }
    .letter--delivered {
      animation: delivery 0.5s alternate 2;
   }
    .hide {
      animation: waitfade 1s reverse forwards;
   }
    .gameOver {
      background-color: red;
      height: 100%;
      animation: redfade 3s forwards ease-in;
      margin: 0;
      text-align: center;
      padding-top: 250px;
      font-size: 3em;
      font-family: 'Special Elite', cursive;
   }
    .secret {
      text-align: center;
      color: #080138;
      font-family: 'Cousine', monospace;
   }
    .jacob {
      font-size: 2em;
      font-family: 'Caveat', cursive;
   }
