{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="king txt">
        <br />Mình mong sao những người phụ nữ xung quanh mình sẽ luôn vui vẻ và xinh đẹp. Vì mình tin rằng nụ cười của người phụ nữ chính là món quà quý giá nhất trong cuộc sống.
      </p>
    </div>
  </div>
</div>

{% endblock %}
