{% extends "index.html" %}

{% block body %}

<!-- Previous Button -->
<button class="btn" id="prev-btn">
    <i class="fas fa-arrow-circle-left"></i>
</button>

<!-- Book -->
<div>
    <form method="get">
            <a href="/YnQ0NA==" id="bin" class="button button--piyo">
                <div class="button__wrapper">
                    <span class="button__text">Next</span>
                </div>
            </a>
    </form>
        <div id="book" class="book">
            <!-- Paper 1 -->
            <div id="p1" class="paper">
                <div class="front">
                    <div class="front-content">
                        <h1 id="first" > My Love </h1>
                    </div>
                </div>
                <div class="back">
                    <div id="b1" class="back-content">
                        <h1> <img src="../static\assets\khachhang\Bông Trần\44\9fbe9f1331b99ce7c5a8 - Tường Vi Hoà Nguyễn.jpg" alt=""> </h1>
                    </div>
                </div>
            </div>
            <!-- Paper 2 -->
            <div id="p2" class="paper">
                <div class="front">
                    <div id="b1" class="front-content">
                        <h1><img src="../static\assets\khachhang\Bông Trần\44\72c4276f89c5249b7dd4 - Tường Vi Hoà Nguyễn.jpg"></h1>
                    </div>
                </div>
                <div class="back">
                    <div id="b1" class="back-content">
                        <h1><img src="../static\assets\khachhang\Bông Trần\44\63791d3ad7907ace2381 - Tường Vi Hoà Nguyễn.jpg"></h1>
                    </div>
                </div>
            </div>
            <!-- Paper 3 -->
            <div id="p3" class="paper">
                <div class="front">
                    <div id="b1" class="front-content">
                        <h1><img src="../static\assets\khachhang\Bông Trần\44\d97d87d4297e8420dd6f - Tường Vi Hoà Nguyễn.jpg"></h1>
                    </div>
                </div>
                <div class="back">
                    <div id="b1" class="back-content">
                        <h1><img src="../static\assets\khachhang\Bông Trần\44\e3b3242a8a8027de7e91 - Tường Vi Hoà Nguyễn.jpg"></h1>
                    </div>
                </div>
            </div>

        </div>
    </div>




<!-- Next Button -->
<button class="btn" id="next-btn">
    <i class="fas fa-arrow-circle-right"></i>
</button>


<!-- next page -->

</div>

{% endblock %}