{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="king txt">
        <br>Dear người hèn, Trải qua biết bao năm tháng sống chung vũng nước vàng, ta trịnh trọng chúc nhà ngươi ăn uống đầy đủ để sức khỏe tốt nầy, cúa tình yêu đẹp hơn nữa dù giờ đủ đẹp r, giàu hơn để bao ăn người vô sản nì và quan trọng là ta chờ tin ngươi được quy hoạch!!! Tạm biệt, người nghèo.
      </p>
    </div>
  </div>
</div>

{% endblock %}
