{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="king txt">
        Dear Huyen, 
        <br />
        Trước tiên tớ chúc cô bạn xinh gái một ngày 8/3 thật vui vẻ, hạnh phúc và sớm đạt được điều mình mơ ước nhaa<	&#51;.
		Cô gái của tớ là một người kiên cường, dù ở nơi đất khách quê người nhưng cậu vẫn vô cùng mạnh mẽ gượng dậy từ những nỗi buồn, vẫn cố gắng vì lý tưởng tương lai của cậu. Điều đó tớ thực sự rất ngưỡng mộ và cũng là một trong nhiều điều cậu đã vô tình đánh rơi trong tâm trí tớ. 
		Chúng ta bắt đầu từ nơi xa hơn mọi người, va vào nhau trong sự bỡ ngỡ của cả hai(tớ và cậu đều ko ngờ sẽ có mqh này) và đi được đến bay giờ thực sự với tớ là bất ngờ và hạnh phúc khi có được sự quan tâm của cậu. Tớ vốn là người không hứa nhiều về điều không chắc chắn thực hiện được nhưng cậu lại thành ngoại lệ mất rồi:&#41;&#41; (mọi sự lanh lợi, tinh tế,... mà mọi người nhìn về tớ dường như chẳng còn gì khi ở trước cậu vậy... thật sự đấy!!). 
		điếu cuối cùng tớ hi vọng được thấy cô gái của tui vẫn sẽ mãi là hướng dương rực rỡ, là bông hoa thơm ngát đầy xinh đẹp. Hãy cứ tỏa sáng vì ít nhất vẫn có người luôn sẵn sàng nhìn điều cậu đã, đang và sẽ thể hiện.<br /><br />-From a person who beside you
      </p>
    </div>
  </div>
</div>

{% endblock %}
