{% extends "index.html" %}

{% block body %}

<!-- Previous Button -->
<button class="btn" id="prev-btn">
    <i class="fas fa-arrow-circle-left"></i>
</button>

<!-- Book -->
<div>
    <form method="get">
            <a href="/Y29jaGF1MQ==1" id="bin" class="button button--piyo">
                <div class="button__wrapper">
                    <span class="button__text">Next</span>
                </div>
            </a>
    </form>
        <div id="book" class="book">
            <!-- Paper 1 -->
            <div id="p1" class="paper">
                <div class="front">
                    <div class="front-content">
                        <h1 id="first" > My Love </h1>
                    </div>
                </div>
                <div class="back">
                    <div id="b1" class="back-content">
                        <h1> <img src="../static\assets\khachhang\cochau\z5229425415743_e1349fc47813eb7f293406f1f53cdf0a.jpg" alt=""> </h1>
                    </div>
                </div>
            </div>
            <!-- Paper 2 -->
            <div id="p2" class="paper">
                <div class="front">
                    <div id="b1" class="front-content">
                        <h1><img src="../static\assets\khachhang\cochau\z5229425431833_bda1684b5f06dc20145b925ae4b24d71.jpg"></h1>
                    </div>
                </div>
                <div class="back">
                    <div id="b1" class="back-content">
                        <h1><img src="../static\assets\khachhang\cochau\z5229425440745_0a20209df82f92d399824414883aa357.jpg"></h1>
                    </div>
                </div>
            </div>
            <!-- Paper 3 -->
            <div id="p3" class="paper">
                <div class="front">
                    <div id="b1" class="front-content">
                        <h1><img src="../static\assets\khachhang\cochau\z5229425451539_919d38699de364956c42bd6b623886b5.jpg"></h1>
                    </div>
                </div>
                <div class="back">
                    <div id="b1" class="back-content">
                        <h1><img src="../static\assets\khachhang\cochau\z5229426867452_08ccff5fd3d9c9bf675206554eacb2ed.jpg"></h1>
                    </div>
                </div>
            </div>

        </div>
    </div>




<!-- Next Button -->
<button class="btn" id="next-btn">
    <i class="fas fa-arrow-circle-right"></i>
</button>


<!-- next page -->

</div>

{% endblock %}