{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="king txt">
        <br /> Helloo, today is the international women's day and I just want to wish you all the best. I hope in the following years you can be happier, maintain your health, smile more (you have an amazing smile), and continue to develop your center to be one of the best in our cityy.
        <br /><br />
        &#10; To Ms.Chau<br /><br />-fu
      </p>
    </div>
  </div>
</div>

{% endblock %}
