{% extends "layout.html" %}

{% block body %}





<p class="not-yet endText"></p>
	<div class="one now">
		<div class="letter now">
			<div class="envelope" onclick="envelopeOpen();">
				<div class="envelope-flap"></div>
				<div class="envelope-paper"></div>
				<div class="envelope-detail"></div>
			</div>
			<div class="paper">
				<div class="paper-close king" onclick="paperClose();">X</div>
				<p class="king txt"><br>"Do đang ở xa và chúng ta không thể đón lễ 8/3 cùng nhau, nhưng a vẫn chúc mọi điều tốt đẹp nhất đến với c. Và hãy tin rằng không điều gì có thể ảnh hưởng đến mối quan hệ tốt đẹp của chúng ta. Hãy nhớ t luôn bên cạnh c, chúc e có ngày 8/3 thật vui vẻ và hạnh phúc nhé!"
                    . <br><br> &#10; <br><br></p>
			</div>
		</div>
	</div>



{% endblock %}
