{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="tapmedium txt">
        <br />To the girl I'm truly impressed and fascinated at! On this special occasion, I want to send you all the best wishes from the depths of my heart. May your day be filled with love, laughter and happiness. You are the most energetic and interesting girl I've ever know, and I really appreciate being your friend. Immersing myself in your world of stories and sharing our thoughts together has made my moments in life more memorable. I love your source of positive energy so always keep it and also keep blushing while smiling, as your reactions are so cute. Remember that I will always stay by your side and be your emotional support, so whenever in need just ask me and I will be there. Last but not least, happy International Women's Day !
      </p>
    </div>
  </div>
</div>

{% endblock %}
