{% extends "index.html" %}

{% block body %}

<!-- Previous Button -->
<button class="btn" id="prev-btn">
    <i class="fas fa-arrow-circle-left"></i>
</button>

<!-- Book -->
<div>
    <form method="get">
            <a href="/aGRkdjUw==" id="bin" class="button button--piyo">
                <div class="button__wrapper">
                    <span class="button__text">Next</span>
                </div>
            </a>
    </form>
        <div id="book" class="book">
            <!-- Paper 1 -->
            <div id="p1" class="paper">
                <div class="front">
                    <div class="front-content">
                        <h1 id="first" > My Love </h1>
                    </div>
                </div>
                <div class="back">
                    <div id="b1" class="back-content">
                        <h1> <img src="../static\assets\khachhang\Hoàng Đặng Đan Vi\50\5FADB0C1-CA2E-4A61-8C9A-4239B61C5E5F - Đan Vi Hoàng Đặng.jpeg" alt=""> </h1>
                    </div>
                </div>
            </div>
            <!-- Paper 2 -->
            <div id="p2" class="paper">
                <div class="front">
                    <div id="b1" class="front-content">
                        <h1><img src="../static\assets\khachhang\Hoàng Đặng Đan Vi\50\7DDCD1BB-07B3-44EF-B523-D81609FE3671 - Đan Vi Hoàng Đặng.jpeg"></h1>
                    </div>
                </div>
                <div class="back">
                    <div id="b1" class="back-content">
                        <h1><img src="../static\assets\khachhang\Hoàng Đặng Đan Vi\50\89D2CC71-E909-4D92-A82A-C5E8A2C49A80 - Đan Vi Hoàng Đặng.jpeg"></h1>
                    </div>
                </div>
            </div>
            <!-- Paper 3 -->
            <div id="p3" class="paper">
                <div class="front">
                    <div id="b1" class="front-content">
                        <h1><img src="../static\assets\khachhang\Hoàng Đặng Đan Vi\50\53613FAC-A18C-4D63-8869-57B26B257501 - Đan Vi Hoàng Đặng.jpeg"></h1>
                    </div>
                </div>
                <div class="back">
                    <div id="b1" class="back-content">
                        <h1><img src="../static\assets\khachhang\Hoàng Đặng Đan Vi\50\AE4AD1F4-6ACF-4C73-9C0A-7B29C5642E39 - Đan Vi Hoàng Đặng.jpeg"></h1>
                    </div>
                </div>
            </div>

        </div>
    </div>




<!-- Next Button -->
<button class="btn" id="next-btn">
    <i class="fas fa-arrow-circle-right"></i>
</button>


<!-- next page -->

</div>

{% endblock %}