{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="king txt">
        <br><br>Chắc giờ mẹ cũng biết rõ đứa con nào đứng sau trò hề này roài hyhy. Năm nào cũng chúc mẹ xuynh gái, trẻ khỏe, công việc thuận lợi và yêu thương 3 bố con nhiều hơn roài nên năm nay con sẽ chúc thêm má mi sẽ thành công đạt được mục tiêu làm chủ tài khoản khác không phải nhà mình và giúp bố lấy lại phong độ!!!! Then kiu má mi vì tất cả nhíeee
      </p>
    </div>
  </div>
</div>

{% endblock %}
