{% extends "layout.html" %}

{% block body %}





<p class="not-yet endText"></p>
	<div class="one now">
		<div class="letter now">
			<div class="envelope" onclick="envelopeOpen();">
				<div class="envelope-flap"></div>
				<div class="envelope-paper"></div>
				<div class="envelope-detail"></div>
			</div>
			<div class="paper">
				<div class="paper-close king" onclick="paperClose();">X</div>
				<p class="king txt"><br>"chúc mẹ yêu ngày 8/3 luôn mạnh khỏe, vui vẻ , tươi trẻ, xinh đẹp và càng ngày càng thành công trong cuộc sống. 
                                                                         
                                                                                        
                                                                                         <br><br> &#10; _ lời chúc từ con gái của mẹ_<br><br>Quỳnh Anh ( CADMIUM )"</p>
			</div>
		</div>
	</div>



{% endblock %}
