{% extends "index.html" %}

{% block body %}

<!-- Previous Button -->
<button class="btn" id="prev-btn">
    <i class="fas fa-arrow-circle-left"></i>
</button>

<!-- Book -->
<div>
    <form method="get">
            <a href="/a3QyCg==" id="bin" class="button button--piyo">
                <div class="button__wrapper">
                    <span class="button__text">Next</span>
                </div>
            </a>
    </form>
        <div id="book" class="book">
            <!-- Paper 1 -->
            <div id="p1" class="paper">
                <div class="front">
                    <div class="front-content">
                        <h1 id="first" > My Love </h1>
                    </div>
                </div>
                <div class="back">
                    <div id="b1" class="back-content">
                        <h1> <img src="../static\assets\khachhang\KieuTu\426137746_275695592233649_8903141960675575021_n - Oán Nan Thường.jpg" alt=""> </h1>
                    </div>
                </div>
            </div>
            <!-- Paper 2 -->
            <div id="p2" class="paper">
                <div class="front">
                    <div id="b1" class="front-content">
                        <h1><img src="../static\assets\khachhang\KieuTu\429313024_411160754733510_1911101331032692346_n - Oán Nan Thường.jpg"></h1>
                    </div>
                </div>
                <div class="back">
                    <div id="b1" class="back-content">
                        <h1><img src="../static\assets\khachhang\KieuTu\429636897_2588878257945338_8334154699027672468_n - Oán Nan Thường.jpg"></h1>
                    </div>
                </div>
            </div>
            <!-- Paper 3 -->
            <div id="p3" class="paper">
                <div class="front">
                    <div id="b1" class="front-content">
                        <h1><img src="../static\assets\khachhang\KieuTu\429799478_741381334730057_4028252544691644828_n - Oán Nan Thường.jpg"></h1>
                    </div>
                </div>
                <div class="back">
                    <div id="b1" class="back-content">
                        <h1><img src="../static\assets\khachhang\KieuTu\429844323_743471107852053_895476789671777982_n - Oán Nan Thường.jpg"></h1>
                    </div>
                </div>
            </div>

        </div>
    </div>




<!-- Next Button -->
<button class="btn" id="next-btn">
    <i class="fas fa-arrow-circle-right"></i>
</button>


<!-- next page -->

</div>

{% endblock %}