{% extends "layout.html" %}

{% block body %}





<p class="not-yet endText"></p>
	<div class="one now">
		<div class="letter now">
			<div class="envelope" onclick="envelopeOpen();">
				<div class="envelope-flap"></div>
				<div class="envelope-paper"></div>
				<div class="envelope-detail"></div>
			</div>
			<div class="paper">
				<div class="paper-close king" onclick="paperClose();">X</div>
				<p class="king txt"><br>"Chin chào!! <br>Biết gì không? Hôm nay là 8/3 và tui có xíu xiu điều muốn nói với chị. Chị cứ bị đáng yêu ấy, không hiểu luôn?? Còn hay gửi mấy cái video siêu cute nữa. Nói chung là ngày hum nay và 1 tỷ ngày sau, chúc chị iu luôn vui vẻ, luôn bị khùng, luôn là chồng tui. Gửi đến 50 nghìn cái thơm và 1 em bé xinh làm quà.<br>Ngoan xinh yêu &#10; <br>Em bé"<br></p>
			</div>
		</div>
	</div>



{% endblock %}
