{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="king txt">
        <br/>Chúc tình yêu mỗi ngày đều vui vẻ, mạnh khỏe, hạnh phúc!!
        <br/> Mỗi giai đoạn trong cuộc đời đều có một mục tiêu quan trọng bắt buộc phải đạt được vậy nên đừng vì điều gì mà chần chừ để rùi tiếc nuối nháa &lt;3 
        <br/> Babii gai xính mà nóng tính quá òo :((
        <br/> Cố gắng học cách kiềm chế cảm xúc, suy nghĩ ít thoi nhaa không đ ai iu nổi ấy…
        <br/> Iu nhắm 
        <br/>
      </p>
    </div>
  </div>
</div>

{% endblock %}
