{% extends "layout.html" %}

{% block body %}





<p class="not-yet endText"></p>
	<div class="one now">
		<div class="letter now">
			<div class="envelope" onclick="envelopeOpen();">
				<div class="envelope-flap"></div>
				<div class="envelope-paper"></div>
				<div class="envelope-detail"></div>
			</div>
			<div class="paper">
				<div class="paper-close king" onclick="paperClose();">X</div>
				<p class="king txt"><br><br>Nhân ngày mùng 8/3 chúc cậu iu của tớ ngày càng xinh đẹp, học giỏi hơn nữa☺️, cố gắng đạt được mục tiêu và hong được bỏ cuộc đôu🥺. <br><br> &#10; Tớ sẽ luôn bên cậu🥺.<br><br>- Iuuuu🫶🏻😘 và đặc biệt là phải ngủ sớm điiiii!</p>
			</div>
		</div>
	</div>



{% endblock %}
