{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="king txt">
        <br><br>Chúc bff mãi là bông hoa hồng đẹp nhất trong đời tớ , đừng rơi lệ vì thằng nào . Nếu sau này tớ với cậu xảy ra mâu thuẫn , hãy hạ cái tôi của mình xuống rồi cùng nhau xin lỗi nhá chứ đừng chấm dứt . Dù con ml này hơi cục súc nhm thoai tớ vẫn mãi mãi iu cậu =)))) moa moaaa 🫶🏻🫶🏻🫶🏻😼
      </p>
    </div>
  </div>
</div>

{% endblock %}
