{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="king txt">
        <br><br>
        8-3 đầu tiên tôi tặng hoa cho bạn, mặc dù cách 5 tuổi nhm thoai xưng bạn với tôi cho dễ =))) Chúc bạn ngày càng xink đẹp hơn , chăm chỉ hơn , bớt lười và bớt bắt nạt tôi hơn . Nhiều lúc giảng bài cho hs thì đừng chửi hs ngu nhé bởi tôi biết tôi ngu roii . Cố gắng kím tiền mua đồ ăn cho tui nhé , với cả có ty đẹp 2024 😋🫶🏻
      </p>
    </div>
  </div>
</div>

{% endblock %}
