{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="king txt">
        <br />Ỉn chúc mẹ iu ngày 8/3 thật vui vẻ, hạnh phúc, luôn độc lập và nở nụ cười thật tươii! Con chúc mỗi ngày đi làm của mẹ đều thật vui, không bao giờ mệt và luôn được học sinh iu quý. Con cũng chúc mẹ mãi hài hước, nhưng mà đừng chửi con nữaaaa, và đọc đúng tên con mẹ nhé 😞 Con luôn mong muốn mẹ được làm những gì mình thích, dù là gì, con cũng luôn luôn ủng hộ mẹ! Yêu công chúa của con nhiều lắm !!! Con cảm ơn mẹ vì luôn là người mẹ tuyệt vời nhất trên đời. Con biết mẹ làm gì cũng là vì muốn tốt cho con nhưng đôi khi con vẫn giận dỗi hay không nghe lời mẹ, mẹ bỏ qua cho con mẹ nhé 🥺
        <br /><br />
        &#10; Gửi tới mẹ iu<br /><br />-Ỉn thúi của mẹ.
      </p>
    </div>
  </div>
</div>

{% endblock %}
