{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="hht txt">
        <br />Hôm nay là ngày Quốc tế phụ nữ 8/3, con chúc mẹ có một ngày 8/3 vui vẻ hạnh phúc và tất cả các ngày còn lại trong năm cũng vậy.
        Con cảm ơn mẹ vì đã luôn chăm sóc cho con, cho anh Tít, cho gia đình mình. Cảm ơn mẹ vì đã luôn hy sinh vì bọn con. Cảm ơn mẹ vì đã luôn quan tâm con thấu hiểu con. Mẹ vừa là mẹ vừa là một người bạn mà con có thể thoải mái tâm sự cùng. Cảm ơn mẹ vì đã luôn dạy con những điều thực tế, có ích mà chẳng lớp học nào nói với con về những điều đó. Con muốn chúc người phụ nữ xinh đẹp nhất của Bi, Tít luôn cứ mãi xinh đẹp trẻ trung như vậy, sẽ yêu thương bản thân mình nhiều hơn, luôn luôn hạnh phúc, mạnh khoẻ, vô lo vô nghĩ, không phải bận tâm vì bất cứ chuyện gì, luôn thành công thuận lợi trong công việc, mọi chuyện đều như ý.💗💗💗
        <br /><br />
        &#10; Gửi tới mẹ iu<br /><br />-Bi thúi của mẹ
      </p>
    </div>
  </div>
</div>

{% endblock %}
