{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
        <div class="paper-close king" onclick="paperClose();">X</div>
        <p class="king txt">
            <br/>"8/3 vui vẻ nhaaa, chúc Nitơ luôn luôn xinh đẹp và đáng yêu nhé, hãy biết yêu thương, quan tâm tới bản thân mình nhiều hơn. Đặc biệt hãy luôn cố gắng, sống là chính mình nhé, anh biết 3 năm là dài nhưng hãy luôn hết mình nhé,anh không những đợi mà luôn tin và yêu Nitơ rất nhiềuuuuuu."
            <br/>Gửi tới em
            <br/>MH
        </p>
    </div>
  </div>
</div>

{% endblock %}
