{% extends "layout.html" %}

{% block body %}





<p class="not-yet endText"></p>
	<div class="one now">
		<div class="letter now">
			<div class="envelope" onclick="envelopeOpen();">
				<div class="envelope-flap"></div>
				<div class="envelope-paper"></div>
				<div class="envelope-detail"></div>
			</div>
			<div class="paper">
				<div class="paper-close king" onclick="paperClose();">X</div>
				<p class="king txt"><br/>Con chúc mẹ một ngày 8/3 thật vui vẻ!<br><br> &#10; Mong mẹ đạt được những điều mẹ muốn và được sống thật hạnh phúc về sau!<br><br></p>
			</div>
		</div>
	</div>



{% endblock %}
