{% extends "index.html" %}

{% block body %}

<!-- Previous Button -->
<button class="btn" id="prev-btn">
    <i class="fas fa-arrow-circle-left"></i>
</button>

<!-- Book -->
<div>
    <form method="get">
            <a href="/bnBsQMo=2" id="bin" class="button button--piyo">
                <div class="button__wrapper">
                    <span class="button__text">Next</span>
                </div>
            </a>
    </form>
        <div id="book" class="book">
            <!-- Paper 1 -->
            <div id="p1" class="paper">
                <div class="front">
                    <div class="front-content">
                        <h1 id="first" > My Love </h1>
                    </div>
                </div>
                <div class="back">
                    <div id="b1" class="back-content">
                        <h1> <img src="../static\assets\khachhang\NguyenPhuongLinh\cpm35 2024-01-28 233927.892.jpg" alt=""> </h1>
                    </div>
                </div>
            </div>
            <!-- Paper 2 -->
            <div id="p2" class="paper">
                <div class="front">
                    <div id="b1" class="front-content">
                        <h1><img src = "../static\assets\khachhang\NguyenPhuongLinh\cpm35 2024-03-01 231131.526.jpg"></h1>
                    </div>
                </div>
                <div class="back">
                    <div id="b1" class="back-content">
                        <h1><img src = "../static\assets\khachhang\NguyenPhuongLinh\D9221E05-26F0-40B1-8756-7BED05B4AB6E.jpg"></h1>
                    </div>
                </div>
            </div>
            <!-- Paper 3 -->
            <div id="p3" class="paper">
                <div class="front">
                    <div id="b1" class="front-content">
                        <h1><img src = "../static\assets\khachhang\NguyenPhuongLinh\IMG_1823.JPG"></h1>
                    </div>
                </div>
                <div class="back">
                    <div id="b1" class="back-content">
                        <h1><img src = "../static\assets\khachhang\NguyenPhuongLinh\STT 14 - 1 - Nguyễn Phương Linh.JPG"></h1>
                    </div>
                </div>
            </div>

        </div>
    </div>




<!-- Next Button -->
<button class="btn" id="next-btn">
    <i class="fas fa-arrow-circle-right"></i>
</button>


<!-- next page -->

</div>

{% endblock %}