{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="king txt">
        <br />To: Ximp 
        <br />Hehehe. Gọi là chẳng mấy khi. Đôi khi mình không làm cái gì, cũng là làm một cái gì đó rồi. Đôi khi mình vui vẻ đặt một dấu chấm trong dấu chấm phẩy, rồi sau đó trở về dấu chấm trong dấu chấm than. Chúc cậu ngày 8/3 vui vẻ nhé hihihi, chuyện gì qua rồi thì nó cũng qua r, thế nên mình cần qua là nó cũng qua rồi. Tóm lại mình cần cười tươi, thì đời nó tươi như nụ cười mình v. Cố lên cậu nhé, mọi chuyện buồn cũng qua thôi...!
        <br />From: Đạt and Khôi 
      </p>
    </div>
  </div>
</div>

{% endblock %}
