{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="king txt">
        <br />Chúc em iu một ngày 8/3 thật vui vẻ, không chỉ trong hôm nay mà còn là mãi về sau. Chúc em tìm lại được ngọn lửa của mình và đạt aim ielts để đi ntpmm với aaa.
        <br /><br />
        &#10; Gửi tới em yêu<br /><br />-Anh yêu của em
      </p>
    </div>
  </div>
</div>

{% endblock %}
