{% extends "layout.html" %}

{% block body %}





<p class="not-yet endText"></p>
	<div class="one now">
		<div class="letter now">
			<div class="envelope" onclick="envelopeOpen();">
				<div class="envelope-flap"></div>
				<div class="envelope-paper"></div>
				<div class="envelope-detail"></div>
			</div>
			<div class="paper">
				<div class="paper-close king" onclick="paperClose();">X</div>
				<p class="king txt"><br/>Con chúc mẹ 8/3 vui vẻ. Mong năm 2024 mẹ sẽ luôn làm ăn phát đạt để hỗ trợ gia đình, mãi iu quý bà, con và Linh ^^ <br><br> &#10;<br><br></p>
			</div>
		</div>
	</div>



{% endblock %}
