{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="king txt">
        <br />Bà ới! Con chúc bà 8/3 luôn vui vẻ và mạnh khỏe. Mong bà luôn giữ sức khỏe như hiện tại và luôn vui vẻ với con cháu nha ^^
      </p>
    </div>
  </div>
</div>

{% endblock %}
