{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="king txt">
        <br/>Con muốn nói rằng mẹ chính là người tuyệt vời nhất, đặc biệt nhất trong lòng con. Cầu chúc cho mẹ của con luôn xinh đẹp, tươi vui, bình an và hạnh phúc.
      </p>
    </div>
  </div>
</div>

{% endblock %}
