{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="king txt">
        <br />Nhân ngày 8/3, Con chúc mẹ - người phụ nữ quan trọng nhất của đời con luôn hạnh phúc, xinh đẹp khiến hoa cũng phải hờn ghen💞
      </p>
    </div>
  </div>
</div>

{% endblock %}
