{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="king txt">
        <br />"Chúc em một ngày 8/3 thật hạnh phúc, vui vẻ, xinh gái hơn và luôn giữ nụ cười bên môi 🍰 Mong em của năm 2024 sẽ có người đến và iu thương em thật lòng 🎀 Năm nay không có người yêu thì năm sau nhất định phải có nhíee 🌷
        <br/><br/>
        Gửi em
        <br/><br/>
        Trà Dâuu"
      </p>
    </div>
  </div>
</div>

{% endblock %}
