{% extends "layout.html" %}

{% block body %}





<p class="not-yet endText"></p>
	<div class="one now">
		<div class="letter now">
			<div class="envelope" onclick="envelopeOpen();">
				<div class="envelope-flap"></div>
				<div class="envelope-paper"></div>
				<div class="envelope-detail"></div>
			</div>
			<div class="paper">
				<div class="paper-close king" onclick="paperClose();">X</div>
				<p class="king txt"><br>Hello chị, vào vấn đề nhanh gọn luôn này :))) Em với chị không có nhiều kỉ niệm gì đáng nhớ ấy :(( Hơi buồn, nhưng mà em vẫn cảm ơn chị lúc mà nói chuyện phiếm cách đọc ECG; cách giao dl; tâm sự;... Sắp tới em chuẩn bị dí chị deadline dạy em nghe Tiếng Anh giỏi nữa nha =))) Em chúc chị 8/3 ngày càng vui vẻ, học giỏi, giao deadline từ từ bình tĩnh thôi đừng dồn dập và thật nhiều thành công nha<br><br> &#10; <br><br></p>
			</div>
		</div>
	</div>



{% endblock %}
