{% extends "layout.html" %}

{% block body %}





<p class="not-yet endText"></p>
	<div class="one now">
		<div class="letter now">
			<div class="envelope" onclick="envelopeOpen();">
				<div class="envelope-flap"></div>
				<div class="envelope-paper"></div>
				<div class="envelope-detail"></div>
			</div>
			<div class="paper">
				<div class="paper-close king" onclick="paperClose();">X</div>
				<p class="king txt"><br>88 với 15-16 ở SATE mình như chó với mèo ấy chị nhỉ =))) À nhưng mà lúc cần vẫn đoàn kết. Em gặp chị trong sự ngỡ ngàng, đứng tim, chết lặng khi thấy có người vô tri giống mình =)) Kiểu chị bào chữa lí do không rep tin hay không acp nó bị buồn cười ấy, không dỗi nổi luôn ấy. Thôi thì chúc chị 8/3 vui vẻ, có người yêu, ra trường với 2 tờ giấy (bằng tốt nghiệp + tờ siêu âm) nha <br><br> &#10; <br><br></p>
			</div>
		</div>
	</div>



{% endblock %}
