{% extends "layout.html" %}

{% block body %}





<p class="not-yet endText"></p>
	<div class="one now">
		<div class="letter now">
			<div class="envelope" onclick="envelopeOpen();">
				<div class="envelope-flap"></div>
				<div class="envelope-paper"></div>
				<div class="envelope-detail"></div>
			</div>
			<div class="paper">
				<div class="paper-close king" onclick="paperClose();">X</div>
				<p class="king txt">
					<br/>"""Hehe em chào chị ạ :) Mong chị vẫn nhớ em 😗 Em với chị khác ban ấy nên cũng chả được giao deadline nhiều ngoài công việc chung của CLB ấy (mà có giao thì em cũng lươn thôi :))) Ấn tượng đầu tiên của em về chị chắc chắn là gửi add friend lần đầu không acp 🙂 Ngoài ra em ngưỡng mộ chị thực sự ấy, kiểu sáng hôm sau thi mà tối hôm trước 11h vẫn chạy deadline mà điểm vẫn oke. Còn em bỏ dl cả tuần để ôn thi mà còn gần chết. Sau hết thì em chúc chị 8/3 vui vẻ, hạnh phúc, thành công và dẫn IMC ngày càng lớn mạnh ạ
					<br> &#10; <br><br>NMT"""
				</p>
			</div>
		</div>
	</div>



{% endblock %}
