{% extends "layout.html" %}

{% block body %}





<p class="not-yet endText"></p>
	<div class="one now">
		<div class="letter now">
			<div class="envelope" onclick="envelopeOpen();">
				<div class="envelope-flap"></div>
				<div class="envelope-paper"></div>
				<div class="envelope-detail"></div>
			</div>
			<div class="paper">
				<div class="paper-close king" onclick="paperClose();">X</div>
				<p class="king txt"><br>Hú, hi bà già. Nói như nào nhỉ, thời gian đầu làm việc cùng chị chắc đúng kiểu em bị tiền đình trầm trọng. Em không dám nhìn vào mắt chị ấy luôn thề, kiểu chị nhìn em em toàn lảng sang chỗ khác nhưng mà giờ khác rồi 😞 Cái mồm em không cho phép em ngoan. Hồi biết tin em đỗ Kế hoạch ấy, em kiểu vl má này định tuyển vào hành mình à hay quên mình rồi. Nói chung thì bây giờ cũng quý, trừ lúc nào chị chặt em thì mới ghét thôi. Chúc chị 8/3 vui vẻ, hạnh phúc với anh nào đó (thấy rồi công khai đi má) nha<br><br> &#10; <br><br></p>
			</div>
		</div>
	</div>



{% endblock %}
