{% extends "layout.html" %}

{% block body %}





<p class="not-yet endText"></p>
	<div class="one now">
		<div class="letter now">
			<div class="envelope" onclick="envelopeOpen();">
				<div class="envelope-flap"></div>
				<div class="envelope-paper"></div>
				<div class="envelope-detail"></div>
			</div>
			<div class="paper">
				<div class="paper-close king" onclick="paperClose();">X</div>
				<p class="king txt"><br>Chúc chị 8/3 vui vẻ ạ, đừng quên em là được nha. Nói vui vậy thôi chứ sau mỗi lần làm việc cùng chị em lại wow nhiều lắm, mê cái cách chị làm deadline sợ chị hehe và làm ơn hãy khen em trẻ đi đừng gọi em là y4 nữa nha :(<br><br> &#10; <br><br></p>
			</div>
		</div>
	</div>



{% endblock %}
