{% extends "layout.html" %}

{% block body %}





<p class="not-yet endText"></p>
	<div class="one now">
		<div class="letter now">
			<div class="envelope" onclick="envelopeOpen();">
				<div class="envelope-flap"></div>
				<div class="envelope-paper"></div>
				<div class="envelope-detail"></div>
			</div>
			<div class="paper">
				<div class="paper-close king" onclick="paperClose();">X</div>
				<p class="king txt"><br>Gửi chị Tâm đanh đá, nói chung là lì xì thì chịu chứ quà 8/3 em tặng được =))) Có 1 fact rằng là em vào SATE thứ nhất vì anh Tùng thứ nhì chắc là chị luôn ấy. Hồi cấp 3 em nhạt toẹt thề, EQ em cũng thấp nên gần như không biết ăn nói như nào cho không mất lòng người khác. Hôm gặp chị ở Kết nối thế hệ em kiểu bà này không cần kịch bản nói mượt vaio; nảy số cũng nhanh nên chắc 80% sẽ phải app SATE rồi ai biết đỗ xong cùng Nhóm với chị đâu :> Nói chung là chị cũng hiền, nhưng mà lúc cần nghiêm thì nghiêm, chỉn chu. Em có đứa bạn thân là em gái anh Thịnh; cả 2 suốt ngày kháo nhau rằng cặp đôi này kiểu không có gì là không có nên chúc anh chị mãi mặn nồng thắm thiết nhá. Ngoài ra thì chúc chị 8/3 vui vẻ, thành công ạ <br><br> &#10; <br><br></p>
			</div>
		</div>
	</div>



{% endblock %}
