{% extends "layout.html" %}

{% block body %}





<p class="not-yet endText"></p>
	<div class="one now">
		<div class="letter now">
			<div class="envelope" onclick="envelopeOpen();">
				<div class="envelope-flap"></div>
				<div class="envelope-paper"></div>
				<div class="envelope-detail"></div>
			</div>
			<div class="paper">
				<div class="paper-close king" onclick="paperClose();">X</div>
				<p class="king txt"><br>"""Hello chị, chúc chị sau khi nhận được card này và đọc được dòng này không block em vì phát tán ảnh chị lung tung 😘 Em thì không giỏi Văn lắm đâu nên tâm sự tí thôi. Kiểu em mới y2 ấy mà y1 cũng không tham gia CLB nào nên vào CLB ăn nói có hơi không được phải phép với anh chị một chút (nói thẳng ra thì có thể làm chị cáu hoặc không vui). Nhưng mà thực sự là em nói nhưng mà em không để trong lòng thật, nói xong mới kiểu à sao vừa nãy lại nói vậy nên có gì em sẽ sửa đổi dần và chị cũng xí xóa em nha =))) Chúc chị 8/3 vui vẻ, hạnh phúc cùng anh trai em (cưới mời 1 thiệp thôi mời 2 thiệp tốn vàng lắm :( ) và dẫn dắt ban Tim mạch IMC 1 năm học thành công rực rỡ ạ

                    <br><br> &#10; <br><br>NMT"""</p>
			</div>
		</div>
	</div>



{% endblock %}
