{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="king txt">
        <br />Nhân ngày 8/3 chúc Phương Anh luôn luôn xinh đẹp, hạnh phúc, lúc nào cũng tích cực, lạc quan, yêu đời. Chúc cho mỗi ngày của cậu đều tràn đầy tiếng cười và niềm vui. Chúc cậu luôn thuận lợi, may mắn trong công việc và học tập này, đặc biệt là bớt stress hơn, tình yêu thì được nửa kia yêu thương, trân trọng hơn bởi phụ nữ là để yêu thương mà…Hãy tận hưởng ngày 8/3 này cùng nhóm báo chúng tớ nhaa bởi hôm nay cậu là 1 trong 4 bông hoa xinh đẹp nhất!!!
        
      </p>
    </div>
  </div>
</div>

{% endblock %}
