{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="king txt">
        <br />Nhân ngày mùng 8/3, chúc Phương sẽ ngày càng trở nên xinh đẹp, hạnh phúc và gặp nhiều may mắn. Có một điều mình muốn nói cậu biết, đó là cậu thực sự là một người rất tuyệt vời, vì vậy hãy luôn yêu thương chính bản thân mình nhé. Mong cậu sẽ luôn sống thật lạc quan và tích cực, đồng thời cũng lan những điều đó đến mọi người xung quanh như cái cách cậu vẫn thường làm. Hãy cùng tận hưởng ngày của phụ nữ, ngày của phái đẹp. Hôm nay, mình chúc cho bạn sẽ là cô gái xinh đẹp nhất. Thân gửi~
      </p>
    </div>
  </div>
</div>

{% endblock %}
