{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="king txt">
        <br />Thật sự cũng không biết chúc gì cậu vào ngày mùng 8/3 nữa tại vì cuộc sống đã có nhiều cái rất tuyệt vời rồi nên tớ chỉ mong vài điều này. Đầu tiên, mong cậu hãy quan tâm đến sức khỏe của mình nhiều hơn đừng có chạy dl suốt ngày suốt đêm như thế:)) Nếu khó quá thì cậu hãy từ bỏ một vài chỗ đi và đặc biệt nhất là phải quan tâm đến bụng cậu đấy:)).Thứ hai,  mong cậu sửa được tính của cậu đừng có nhạy cảm quá nên có việc gì khó quá thì nhớ chia sẻ với nhóm báo:>>. Và điều cuối cùng, mong cậu càng ngày càng xinh đẹp và mãi yêu chúng tớ nha:>>
      </p>
    </div>
  </div>
</div>

{% endblock %}
