{% extends "layout.html" %}

{% block body %}





<p class="not-yet endText"></p>
	<div class="one now">
		<div class="letter now">
			<div class="envelope" onclick="envelopeOpen();">
				<div class="envelope-flap"></div>
				<div class="envelope-paper"></div>
				<div class="envelope-detail"></div>
			</div>
			<div class="paper">
				<div class="paper-close king" onclick="paperClose();">X</div>
				<p class="king txt"><br/>Chúc bạn iu của tao năm mới tràn ngập niềm vui, đạt aim tất cả những điều mình đặt raaa. Chúc năm sau 3 con ở với nhauuuuuu. 😗 <br><br> &#10; Iuuuuuu<br><br>-Linh</p>
			</div>
		</div>
	</div>



{% endblock %}
