{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="king txt">
        <br/>Con chúc mẹ 8/3 “Hạnh phúc ngập tràn Nỗi buồn vội tan” Chúc mẹ 8/3 sẽ ngày xinh đẹp,rạng rỡ như tuổi đôi mươi,thật nhiều niềm vui mỗi khi mẹ cười… 🫶🏻 Con yêu mẹ.
      </p>
    </div>
  </div>
</div>

{% endblock %}
