{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="king txt">
        <br />Chúc bạn iu của tao năm mới càng giỏi hơn, support tao trên nhìu mặt trận hơn cũng như tìm được mối ngon hơn năm cũ ( tao với nọc đoán quá chuẩn ). Thi đạt aim, hướng tới mục đích ba đứa chung nhà năm sau nheeee 😘😘😘.
        <br/><br/>
        Iuuuuuu
        <br/><br/>
        Linh 
      </p>
    </div>
  </div>
</div>

{% endblock %}
