{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="king txt">
        <br>
        Từ con gái guột của mẹ <br>
        Nhân ngày 8/3, con chúc mum mãi xinh đẹp, nhiều chiền, mãi vui, mãi trẻ để con có thể khoe mum khắp mọi nơi nek ( cũng như cho con chiền nữa 🤑 ).<br> 
        Love uuuuuu 😘😘😘😘
      </p>
    </div>
  </div>
</div>

{% endblock %}
