{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="king txt">
        <br/>"Chúc bà ngoại 8/3 vui vẻ, hạnh phúc nèkkkkkk, mãi xinh, mãi giàu nhe bà ngoạiiiiii 🥰🥰
        <br>Iuuu
        <br>Nhím"
      </p>
    </div>
  </div>
</div>

{% endblock %}
