<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/55af859c9f.js" crossorigin="anonymous"></script>
    <link href="https://fonts.cdnfonts.com/css/romantic" rel="stylesheet">

</head>
<body>

    <!-- Previous Button -->
    <button class="btn" id="prev-btn">
        <i class="fas fa-arrow-circle-left"></i>
    </button>

    <!-- Book -->
    <div>
        <form method="get" >
                <a href="/vgh2" id="bin" class="button button--piyo">
                    <div class="button__wrapper">
                        <span class="button__text">Next</span>
                    </div>
                </a>
        </form>
            <div id="book" class="book">
                <!-- Paper 1 -->
                <div id="p1" class="paper">
                    <div class="front">
                        <div class="front-content">
                            <h1 id="first" > My Love </h1>
                        </div>
                    </div>
                    <div class="back">
                        <div id="b1" class="back-content">
                            <h1> <img src="../static\assests\khachhang\vugiahung\STT1 - 1 - Vũ Gia Hưng.jpg" alt=""> </h1>
                        </div>
                    </div>
                </div>
                <!-- Paper 2 -->
                <div id="p2" class="paper">
                    <div class="front">
                        <div id="b1" class="front-content">
                            <h1><img src="../static\assests\khachhang\vugiahung\STT1 - 2 - Vũ Gia Hưng.jpg"></h1>
                        </div>
                    </div>
                    <div class="back">
                        <div id="b1" class="back-content">
                            <h1><img src="../static\assests\khachhang\vugiahung\STT1 - 3 - Vũ Gia Hưng.jpg"></h1>
                        </div>
                    </div>
                </div>
                <!-- Paper 3 -->
                <div id="p3" class="paper">
                    <div class="front">
                        <div id="b1" class="front-content">
                            <h1><img src="../static\assests\khachhang\vugiahung\STT1 - 4 - Vũ Gia Hưng.jpg"></h1>
                        </div>
                    </div>
                    <div class="back">
                        <div id="b1" class="back-content">
                            <h1><img src="../static\assests\khachhang\vugiahung\STT1 - 5 - Vũ Gia Hưng.jpg"></h1>
                        </div>
                    </div>
                </div>

            </div>
        </div>




    <!-- Next Button -->
    <button class="btn" id="next-btn">
        <i class="fas fa-arrow-circle-right"></i>
    </button>


    <!-- next page -->

    </div>

    <script>

    function detectMob() {
          return ( window.innerWidth <= 1200 );
      }
    // alert(detectMob());

    function show(){
        document.getElementById('bin').style.visibility = 'visible';
    }

        // References to DOM Elements
    const prevBtn = document.querySelector("#prev-btn");
    const nextBtn = document.querySelector("#next-btn");
    const book = document.querySelector("#book");

    const paper1 = document.querySelector("#p1");
    const paper2 = document.querySelector("#p2");
    const paper3 = document.querySelector("#p3");


    // Event Listener
    prevBtn.addEventListener("click", goPrevPage);
    nextBtn.addEventListener("click", goNextPage);

    // Business Logic
    let currentLocation = 1;
    let numOfPapers = 3;
    let maxLocation = numOfPapers + 1;

    function openBook() {
        book.style.transform = "translateX(50%)";
        if (detectMob() == false) {
            prevBtn.style.transform = "translateX(-225px)";
            nextBtn.style.transform = "translateX(225px)";
        }
        else {
            prevBtn.style.transform = "translateX(0px)";
            nextBtn.style.transform = "translateX(0px)";
        }
    }

    function closeBook(isAtBeginning) {
        if(isAtBeginning) {
            book.style.transform = "translateX(0%)";

        } else {
            book.style.transform = "translateX(100%)";
            show();

        }

        prevBtn.style.transform = "translateX(0px)";
        nextBtn.style.transform = "translateX(0px)";
    }

    function goNextPage() {
        if(currentLocation < maxLocation) {
            switch(currentLocation) {
                case 1:
                    openBook();
                    paper1.classList.add("flipped");
                    paper1.style.zIndex = 1;
                    break;
                case 2:
                    paper2.classList.add("flipped");
                    paper2.style.zIndex = 2;
                    break;
                case 3:
                    paper3.classList.add("flipped");
                    paper3.style.zIndex = 3;
                    closeBook(false);
                    break;
                default:
                    throw new Error("unkown state");
            }
            currentLocation++;

        }


    }

    function goPrevPage() {
        if(currentLocation > 1) {
            switch(currentLocation) {
                case 2:
                    closeBook(true);
                    paper1.classList.remove("flipped");
                    paper1.style.zIndex = 3;
                    break;
                case 3:
                    paper2.classList.remove("flipped");
                    paper2.style.zIndex = 2;
                    break;
                case 4:
                    openBook();
                    paper3.classList.remove("flipped");
                    paper3.style.zIndex = 1;
                    break;
                default:
                    throw new Error("unkown state");
            }

            currentLocation--;
        }
    }


    </script>
</body>
</html>
