{% extends "layout.html" %}

{% block body %}


<p class="not-yet endText"></p>
	<div class="one now">
		<div class="letter now">
			<div class="envelope" onclick="envelopeOpen();">
				<div class="envelope-flap"></div>
				<div class="envelope-paper"></div>
				<div class="envelope-detail"></div>
			</div>
			<div class="paper">
				<div class="paper-close king" onclick="paperClose();">X</div>
				<p class="king txt"><br>Chúc m có ngày 8-3 vui vẻ nhé!!!
					T chúc m luôn xinh đẹp, vui tươi và luôn có đủ sức khoẻ để đánh nhau với việc học nhé. M rất thân thiện, tốt tính nhma hãy cứ ác mạnh và bố láo lên nếu cần thiết nhá (yên tâm tao lo).
					Chúc m học thật tốt khi ở ngôi trường xa,
					Có nhiều lúc rảnh khi ở nhà.
					Ko baoh mệt mỏi khi vất vả!
					
					<br><br> &#10; Hết rùi!<br><br>Gửi BHanna:))))</p>
			</div>
		</div>
	</div>



{% endblock %}
