{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="tap txt">
        <br/>정민 씨 안녕하세요! Hello! Konichiwa! Ni hao! Bonjour! Hola! Xin chào! :D
        <br>Chúc a 8/3 happy happy happy. Chúc health and wealth always with you. Chúc full 10 mid-term exams. Chúc chọn được 좋아한 대학교. Chúc ABCXYZ đủ thứ trên đời. Wish you the best ;) Hihi;)
        <br>[저에게 your 수학 kiến thức 주세요!]
        <br>Nhân tiện công cuộc tìm 사진 làm cái này nó đau đớn dữ dằn mà mãi không thấy đủ 사진 , sau mình 사진 많이 찍어 ha:) Có gì cần tìm cho dễ nhaa:)
        <br>Oki nói chung làaa Thanks for always being my best 친구 aaaa...
        <br>고마워요! Thank you! Arigato! Xie xie! Merci! Gracias! Cãm onnnn <3
        <br>Mêeeee. Mãi bên nhau bạn nhéee;)
        <br>From 순나리
      </p>
    </div>
  </div>
</div>

{% endblock %}
