{% extends "layout.html" %} {% block body %}

<p class="not-yet endText"></p>
<div class="one now">
  <div class="letter now">
    <div class="envelope" onclick="envelopeOpen();">
      <div class="envelope-flap"></div>
      <div class="envelope-paper"></div>
      <div class="envelope-detail"></div>
    </div>
    <div class="paper">
      <div class="paper-close king" onclick="paperClose();">X</div>
      <p class="king txt">
        <br/>
        Gửi bác má ahihihi. 
        <br><br>Chúc bác má 8/3 vui vẻ các thứ, thi cái gì đỗ cái đấy, thêm xênh đẹp cute, thích cái gì có cái đấy, chúc đủ thứ hihi. Cảm ơn bác má đã nấu ăn mỗi ngàyy, đã đi chợ mua đồ, đã quét đống hoa xoàiii, đã làm đủ thứ đủ thứ và cảm ơn bác má đã là bác má của bọn toiii. 
        <br>Bông Bống Mít
      </p>
    </div>
  </div>
</div>

{% endblock %}
